.Marquee
  .Marqueeimg
    img(src='./../images/marguee.png', alt='alt')
  .Marqueenews
    marquee#marqueeDiv(direction='left')

.search
  div
    input#search-input.searcher-text.form-control.rounded-pill.search-input(type='search', placeholder='Search...', aria-label='Search')
    i.fas.fa-search

    style#m-search.

block script
  script(type="text/javascript" src="./../../js/newsearch.js")