.meunbox
  #gameid.gamemenu
    a(href='#')
      img(src='./../images/gamebtn.png', alt='alt')
  .logopaymenu
    ul
      li
        a(href='#')
          img(src='./../images/labby_coin.png', alt='alt', width='200')
      li
        img(src='./../images/logo.png', alt='alt', width='130')
  #setid.setmenu
    a(href='#')
      img(src='./../images/setbtn.png', alt='alt')

.gamemenubox
  ul
    li#game_0
      img(src='./../images/AllTypebtn.png', alt='alt')
    li#game_1
      img(src='./../images/SlotTypeBtn.png', alt='alt')
    li#game_2
      img(src='./../images/ChipTypebtn.png', alt='alt')
    li#game_4
      img(src='./../images/JpTypebtn.png', alt='alt')


.setmenubox
  ul
    li 商城
    li(data-toggle='modal', data-target='#exampleModalCenter2') 修改密碼
    li(data-toggle='modal', data-target='#exampleModalCenter') 客訴問題
    li#score(data-toggle='modal', data-target='#exampleModalCenter3')  查詢分數


                 