.mumbernew
  .numberdata
    ul
      li
        .people
          i.far.fa-user
        #account.number
      li
        .jp
          img#diamondimg(src='./../images/diamond.png', alt='alt')
          img#moneyimg(src='./../images/coin.png', alt='alt')
        .money
          span#diamond
          span#money
        a#jpbtn(href='javascript:;')
          div

   
.loginbox
  ul
    // 假登入
    //- li#logBtn
    //-   .fullbtn
    //-     img(src='./../images/full.png', alt='alt')
    // 假登入 end

    // 全螢幕btn
    li.Screen
      .fullbtn
        img#fullScreen(src='./../images/full.png', alt='alt')

    //- // 退出全螢幕 btn
    //- li.Screen
    //-   .fullbtn
    //-     img#nofullScreen(src='./../images/full2.png', alt='alt')

    li#logoutBtn
      .logout
        a(href='#')
          img(src='./../images/logout.png', alt='alt')

