.bgblock.loginWindow
img.loginWindow(src='./../images/slotto.png')
ul.login.loginWindow
  li.loginWindow
    .modal-title.loginWindow 會員登入
  li
    input.message.loginWindow#accountInput(type='text', placeholder='帳號', value='')
    i.fas.fa-caret-down.loginWindow
  li.loginWindow
    input.message.loginWindow#passwordInput(type='password', placeholder='密碼', value='')
  //- li.loginWindow
  //-   input.loginWindow(type='checkbox', name='rememberMe')
  //-   label.loginWindow(for='rememberMe', data-lang='') 記住密碼
  li.loginWindow#logBtn
    button.loginBtn.loginWindow 登入
  li.loginWindow
    span.loginWindow 忘記密碼？請聯系邀請您的專員為您服務。
