doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes")
		block meta 
		block title
		link(href="../css/style.css" rel="stylesheet" type="text/css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet")
		block link 
    
		script(type="text/javascript" src="../js/jquery.min.js")
		//- script(type="text/javascript" src="../js/list_effect.js")

	body
		.wrapper#wrapper

			.header
				block header

			.content
				block content

			.footer
				block footer

			div
				block modaldiv
				
		.loginBox.loginWindow#loginBox
			block login		
		
	block script