#exampleModalCenter3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        div#exampleModalLongTitle.modal-title 查詢分數
        div#score_close.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        // [2]
        form(style='width:100%;')
          // checkPassword input
          .form-outline
            input#code.form-control(type='text', placeholder='輸入驗證碼', name='code')
          // code
          .form-group.center
            span.imgcode
              img#codeimage
          br
          // Submit button
          button#send3.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModalCenter4') 送出
          span#s3