#exampleModalCenter4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true', style='top: 12%; height: 85%;')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        div#exampleModalLongTitle.modal-title 分數紀錄
        div.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        div
          table#show
            thead.theadbox
              tr(for='colFormLabelSm')
                td #
                td 设定分数
                td 之前分数
                td 之后分数
                td 日期时间
            tbody.tbodybox#tbody
      .modal-footer
        button.btn.btn-primary(type='button', data-dismiss='modal') 關閉
